<!DOCTYPE html>
<html lang="ch"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 强制Chromium内核，作用于360浏览器、QQ浏览器等国产双核浏览器 -->
    <meta name="renderer" content="webkit"/>

    <!-- 强制Chromium内核，作用于其他双核浏览器 -->
    <meta name="force-rendering" content="webkit"/>

    <!-- 如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title th:text="${profile.profileCnname}">Title</title>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet"  href="/webjars/editor.md/1.5.0/css/editormd.min.css" th:href="@{/webjars/editor.md/1.5.0/css/editormd.min.css}">
    <script th:src="@{/webjars/editor.md/1.5.0/editormd.min.js}"></script>
</head>
<body>
<div th:replace="bar::css"></div>

<!-- main banner -->
<div class="main-top" id="home">

    <div th:replace="bar::header"></div>
    <div class="banner_w3lspvt-2"></div>

    <div class="blog-w3l py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row blog-content pt-lg-3">
                <!-- left side -->
                <div class="col-lg-12 blog_section agileinfo_mail_grid_right" >
                    <div class="card border-0">
                        <div class="perso-wthree text-center" style="padding-top: 25px">
                            <img th:src="@{/}+${profile.profilePicpath}" alt="" class="img-fluid">
<!--                            <img th:src="@{http://xczx.ccsu.cn/profile_img/2020_09_07_09_56_44_%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200907095619.jpg}" alt="" class="img-fluid">-->
                        </div>
                        <div class="card-body">
                            <div class="row border-bottom pb-3">
                                <div class="col-sm-12 col-4 perso-wthree text-center">
                                    <h3  class="text-bl font-weight-bold  mt-4 mb-3" th:text="${profile.profileCnname}"></h3>
                                </div>
                                <div class="col-sm-12 col-8 info-commt text-center">
                                    <ul class="blog_list ">
                                        <li >
                                            <span th:text="${profile.profilePosition}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-8 info-commt text-center" style="padding-top: 35px">
                                <ul class="blog_list ">
                                    <li >
                                        <span th:text="${profile.profileIntro}"></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row pt-xl-4">
                                <div class="col-md-4 test-grid px-lg-5">
                                    <div class="test-info text-center">
                                        <h3 class="mt-md-4 mt-3 text-center">工作领域</h3>
                                        <p th:text="${profile.profileStudydir}"></p>
                                    </div>
                                </div>
                                <div class="col-md-4 test-grid px-lg-5">
                                    <div class="test-info text-center">
                                        <h3 class="mt-md-4 mt-3 text-center">工作经历</h3>
                                        <p th:text="${profile.profileWorkexp}"></p>
                                    </div>
                                </div>
                                <div class="col-md-4 test-grid px-lg-5">
                                    <div class="test-info text-center">
                                        <h3 class="mt-md-4 mt-3 text-center">教育背景</h3>
                                        <p th:text="${profile.profileEdubackground}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div th:replace="bar::footer"></div>
    <div th:replace="bar::top"></div>


    <script src="/webjars/editor.md/1.5.0/lib/flowchart.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/flowchart.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/jquery.flowchart.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/jquery.flowchart.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/marked.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/marked.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/prettify.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/prettify.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/raphael.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/raphael.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/sequence-diagram.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/sequence-diagram.min.js}"></script>
    <script src="/webjars/editor.md/1.5.0/lib/underscore.min.js" th:src="@{/webjars/editor.md/1.5.0/lib/underscore.min.js}"></script>
    <script type="text/javascript">


        $(function() {
            var testEditormdView;
            testEditormdView = editormd.markdownToHTML("testimonial-container", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
                tocm            : true,
                // tocContainer    : "#custom-toc-container",
                path            : '/webjars/editor.md/1.5.0/lib/'
            });
        });
    </script>
</div>
</body>
</html>